*.builtin
*.cmd
*.o
*.ko
modules.order
.config
.missing-syscalls.d
.tmp*
.version
Module.symvers
System.map
vmlinux
arch/arm/mach-msm/msm-buspm-dev.mod.c
arch/arm/mach-msm/reset_modem.mod.c
block/test-iosched.mod.c
crypto/ansi_cprng.mod.c
dna/boot.img
drivers/bluetooth/bluetooth-power.mod.c
drivers/crypto/msm/qce40.mod.c
drivers/crypto/msm/qcedev.mod.c
drivers/crypto/msm/qcrypto.mod.c
drivers/input/evbug.mod.c
drivers/media/video/gspca/gspca_main.mod.c
drivers/misc/eeprom/eeprom_93cx6.mod.c
drivers/net/ethernet/micrel/ks8851.mod.c
drivers/net/wireless/bcmdhd_4334/bcmdhd.mod.c
drivers/scsi/scsi_wait_scan.mod.c
drivers/spi/spidev.mod.c
drivers/video/backlight/lcd.mod.c
fs/cifs/cifs.mod.c
fs/ntfs/ntfs.mod.c
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
lib/lib.a
usr/.initramfs_data.cpio.d

